@font-face {
    font-family: Durik;
    src: url("../../fonts/Durik/Durik.ttf");
}

@font-face {
    font-family: Molot;
    src: url("../../fonts/molot/Molot.otf");
}

.img {
    margin-left: 40px;
    width: 400px;
    height: auto;
}

.windowForm {
    display: flex;
    flex-direction: row;


}


.detailBox {
    display: flex;
    flex-direction: column;
    /*background-image: url("../../image/gazeta2.jpeg");*/
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-size: 1000px;
    /*overflow: hidden;*/
    /*background: rgba(255, 255, 255, 0.2);*/
    /*backdrop-filter: blur(8px);*/
    width: 100%;
    height: 550px;
    margin: 50px 0 50px 50px;
}

.boxInfo {
    display: flex;
    flex-direction: column;
    /*background-size: 700px;*/
    /*overflow: hidden;*/
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    width: 720px;
    height: 600px;
    border: 1px solid;
    font-family: Durik, cursive;
    font-size: 100px;
}

.comment {
    display: flex;

}

h2, h3 {
    margin-left: 40px;

}
