.map {
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}

.text {
    margin-top: 0px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 50px 50px 50px;
}

.formNoImg {
    margin-right: 30px;
    font-family: "Zapf Dingbats" cursive;
    width: 350px;
}

.formImg {
    margin-top: 30px;
    font-size: 20px;
}

.mt {
    margin-top: 30px;
    margin-left: 0;
}

.img {
  margin: 10px 0;
    max-width: 200px;
    max-height: 200px;
}

.input {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  padding: 0;
  width: 300px;
}

.select {
  margin-top: 40px;
  font-size: 20px;
}
