@font-face {
    font-family: Durik;
    src: url("../../fonts/Durik/Durik.ttf");
}

@font-face {
    font-family: Molot;
    src: url("../../fonts/molot/Molot.otf");
}


.nav {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;

}


.logo {
    font-family: Durik, cursive;
    font-size: 40px;
    /*text-decoration: none;*/
    text-transform: uppercase;
    color: red !important;

    height: 50px;
    width: 100px;
    margin-left: 50px;
    display: block;
}

.logo:hover {
    text-decoration: revert;


}

.logo img {
    max-width: 100%;
}


.li {

    list-style: none;
    display: flex;
    justify-content: space-around;

    align-items: center;
    margin-right: 50px;
}


.link1 {

    font-family: Molot, "Apple Braille", serif;
    color: red !important;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    horiz-align: right;
    margin: 10px;


}


.link1:hover {
    color: #e2ac02 !important;
    text-decoration: blink;


}

.modalModal {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    list-style: none;
    text-align: -webkit-match-parent;
    box-sizing: border-box;
    margin-left: 20px;

}

.mapBtn {
    position: relative;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    height: 35px;
    font-family: Molot, "Apple Braille", serif;
    color: red;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    text-align: center;
    margin-right: 20px;
}

.mapBtn:hover {
    color: #e2ac02 !important;
    text-decoration: blink;
}

.active {
    display: block;

}

.none {
    display: none;
}

.common {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: absolute;
    width: auto;
    height: auto;
    /*background-color: rgba(0, 0, 0, .4);*/
    bottom: 0;
    transform: translateY(100%);
    right: 100px;
    border-radius: 3%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    gap: 15px;
}

.link2 {
    /*color: white;*/
    font-size: 16px;
    font-family: Molot, "Apple Braille", serif;
    color: red !important;
    text-transform: uppercase;
    margin: 30px;
    text-align: center;

}


.common div:hover {
    background-color: rgba(0, 0, 0, .2);

}
